node_modules/
dist-types/
.yarn/
*.local.yaml

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/


# OS/editor
.DS_Store
.vscode/
.idea/

# Env
.env
.env.local

*.tgz
charts/*/charts/